main {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}

p {
    font-style: italic;
    color: blue;
    font-weight: bold;
}

h1, h2, h3 {
    color: rgb(8, 25, 99);
    background: rgb(196, 255, 222);
    

}


   